.navbar {
  border-bottom: 1px solid gray;
  margin: 10px 0;
  padding: 10px;
}

.nav_list {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav_list a {
  text-decoration: none;
}
