.task_column {
  width: 33.33%;
  margin: 15px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px;
}

.task_column_heading {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.task_column_icon {
  width: 30px;
  margin-right: 5px;
}
